<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Chanonical</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TP9_Final_Integrador.styles.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Audiowide&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-transparent mb-3">
            <div class="container-fluid">
                <p class="navbar-brand">Chanonical</p>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light fs-5" asp-area="" asp-controller="Home"
                                asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light fs-5" asp-area="" asp-controller="Home"
                                asp-action="Privacy">About
                                Us</a>
                        </li>
                    </ul>
                    <div class="m-3 fs-5" id="userName-cont">
                        @if (ViewBag.User.idUsuario != 1)
                        {
                            <a style="text-decoration: none;" data-bs-toggle="modal" href="#changeNameModal"
                            role="button">@ViewBag.User.Nombre</a>
                        }
                        else
                        {
                            @ViewBag.User.Nombre
                        }
                    </div>
                    @if (ViewBag.User.idUsuario == 1)
                    {
                        <div id="button-cont" style="display: block;">
                            <button type="button" id="headerButton" class="btn btn-dark float-end" data-bs-toggle="modal"
                            data-bs-target="#loginModal">
                                Login
                            </button>
                            <button type="button" id="headerButton" class="btn btn-dark mx-3 float-end"
                            data-bs-toggle="modal" data-bs-target="#registerModal">
                                Register
                            </button>
                        </div>
                        <div id="logout-btn" style="display: none;">
                            <button type="button" id="headerButton" class="btn btn-dark float-end" onclick="LogOut()">
                                Logout
                            </button>
                        </div>
                    }
                    else
                    {
                        <div id="button-cont" style="display: none;">
                            <button type="button" id="headerButton" class="btn btn-dark float-end" data-bs-toggle="modal"
                            data-bs-target="#loginModal">
                                Login
                            </button>
                            <button type="button" id="headerButton" class="btn btn-dark mx-3 float-end"
                            data-bs-toggle="modal" data-bs-target="#registerModal">
                                Register
                            </button>
                        </div>
                        <div id="logout-btn" style="display: block;">
                            <button type="button" id="headerButton" class="btn btn-dark float-end" onclick="LogOut()">
                                Logout
                            </button>
                        </div>
                    }
                </div>
            </div>
        </nav>
    </header>
    <div class="modal fade" id="changeNameModal" aria-hidden="true" aria-labelledby="exampleModalToggleLabel"
        tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content" id="form">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalToggleLabel">Change Username</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="post" action='' enctype="multipart/form-data">
                    <div class="modal-body">
                        <label>New username:</label>
                        <input required type="text" id="Username" name="Nombre" class="form-control"
                            placeholder="New username">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-dark" id="BoardButton"
                            onclick="()">Change Username</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="container">
        <main role="main" class="pb-3">
            <div class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content" id="form">
                        <div class="form">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Register</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <form method="post" action='' enctype="multipart/form-data">
                                <div class="modal-body">
                                    <label>Username:</label>
                                    <input required type="text" id="NombreRegister" name="Nombre" class="form-control"
                                        placeholder="Username">
                                    <br>
                                    <label>Password:</label>
                                    <input required type="password" id="ContraseñaRegister" name="Contraseña"
                                        class="form-control" placeholder="Password">
                                    <input required type="password" id="Contraseña2" name="Contraseña2"
                                        class="form-control mt-3" placeholder="Confirm password">
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-dark" id="BoardButton"
                                        onclick="Registrar()">Register</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content" id="form">
                        <div>
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Login</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <form method="post" action=''>
                                <div class="modal-body">
                                    <label>Username:</label>
                                    <input required type="text" id="NombreLogin" name="Nombre" class="form-control"
                                        placeholder="Username">
                                    <br>
                                    <label>Password:</label>
                                    <input required type="password" id="ContraseñaLogin" name="Contraseña"
                                        class="form-control" placeholder="Password">
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-dark" id="BoardButton"
                                        onclick="Login()">Login</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="notificationModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-sm modal-dialog-centered">
                    <div class="modal-content notificationModal">
                        <div class="modal-body" id="notificationModalBody">
                            You shouldn't be able to see this... oh well ¯\_(ツ)_/¯
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">OK!</button>
                        </div>
                    </div>
                </div>
            </div>

            @RenderBody()
        </main>
    </div>

    <footer class=" footer">
        <div class="container">
            &copy; 2022 - TP9_Final_Integrador
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
