@{
    ViewData["Title"] = "Home Page";
}
<p class="title mx-auto display-1 text-center">Chanonical</p>
<div class="row">
    <div class="col-auto mx-auto mt-5" id="Boardbox">
        <h3 class="display-4">Boards</h3>
        <ul class="d-flex justify-content-around flex-wrap">
            @foreach (Board item in ViewBag.ListBoard)
            {
                <a class="aIndex" href='@Url.Action("CargarBoard", "Home", new{id=@item.IdBoard})'>@item.Nombre</a>
            }
        </ul>
    </div>
    @if (ViewBag.Mod == true)
    {
        <div id="Addboard-cont" class="col-auto position-absolute bottom-0 end-0 mb-5" style="display:block;">
            <div class="button" id="Addboard">
                <a type="button" class="aIndex" data-bs-toggle="modal" data-bs-target="#ModalForm" aria-expanded="false"
                aria-controls="collapseForm">
                    Add Board
                </a>
            </div>
        </div>
    } else {
        <div id="Addboard-cont" class="col-auto position-absolute bottom-0 end-0 mb-5" style="display:none;">
            <div class="button" id="Addboard">
                <a type="button" class="aIndex" data-bs-toggle="modal" data-bs-target="#ModalForm" aria-expanded="false"
                aria-controls="collapseForm">
                    Add Board
                </a>
            </div>
        </div>
    }
</div>
<div class="modal fade" id="ModalForm" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" id="form">
            <div class="form">
                <div class="modal-header">
                    <h5 class="modal-title" id="">Create Board</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="post" id="" action='@Url.Action("AgregarBoard", "Home")'>
                    <div class="modal-body">
                        <label>Board name:</label>
                        <input required type="text" name="Nombre" class="form-control fw-bold" placeholder="Name">
                        <br>
                        <label>Choose a number of maximum posts:</label>
                        <select required name="CantMaxPosts" class="form-control">
                            <option selected disabled value="">Choose a number of maximum posts</option>
                            <option value="10">10</option>
                            <option value="15">15</option>
                            <option value="20">20</option>
                            <option value="30">30</option>
                        </select>
                        <p class="pForm">Note: More posts is not always better. It can be slower too.</p>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-dark float-end" value="Post">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>