@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>
<h1>We are</h1>
<h1 class="PrivacyTitle">Chanonical</h1>
<h4>Head Developer: Nacho <br> Database Admin: Sami <br> Project Leader: Nacho <br> Graphic Designer: Sami </h4>
<div class="row w-100">
    <img class="img-fluid w-25" src="https://c.tenor.com/AbKPfdLctoIAAAAC/messi-dancing.gif">
    <img class="img-fluid w-25" src="https://media.tenor.com/NF6ixwAmrTMAAAAM/cristiano-ronaldo-drinking.gif">
</div>
