html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

#headerButton{
  border: 2px inset #d600ff;
}
body {
  margin-bottom: 60px;
  background-image: url('https://i.pinimg.com/originals/4f/09/2e/4f092e13866ce8eaa3344242633a260d.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  font-family: 'VT323', monospace;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}

#Boardbox{
  margin-left: 10%;
  background-color: #030002e4;
  font-size: 3.5vmin;
  border-radius: 1.5vmin;
  padding: 1%;
  border: 2px inset #00b8ff;
  box-shadow: -10px 10px 8px #00b8ff;
  transform: skew(4deg) rotateY(4deg);
}

#Addboard{
  margin-right: 40%;
  background-color: #030002e4;
  font-size: 3.5vmin;
  border-radius: 1.5vmin;
  padding: 15px;
  padding-right: 30px;
  border: 2px inset #00b8ff;
  box-shadow: -10px -10px 8px #00b8ff;
  transform: skew(-4deg) rotateY(-4deg);
}
#Addboard a {
  padding: 5px;
  text-decoration: none;
  color: #ffffff;
  text-shadow: 0px 0px 15px #000;
  transition: background-color .5s;
}
#form{
  font-family: sans-serif;
  background-color: #030002e4;
  border-radius: 1.5vmin;
  font-size:large;
  border: 2px inset #00b8ff;
  box-shadow: 0px 5px 8px #00b8ff;

}
.pForm{
  max-width: fit-content;
  font-family: 'VT323', monospace;
  color: #8b8b8b;
}

li {
  list-style: none;
}

#Boardbox h3 {
  margin-top: 0;
  letter-spacing: -1px;
  color: #d600ff;
  text-decoration: underline;
  font-weight: bold;
  text-shadow: 0px 0px 20px #bd00ff;
}

#Boardbox a {
  padding: 5px;
  text-decoration: none;
  color: #ffffff;
  text-shadow: 0px 0px 15px #000;
  transition: background-color .5s;
}
#Boardbox a:hover {
  padding: 5px;
  color: #ffffff;
  font-weight: bold;
  background-color: #bd00ff;
}
a{
  color: #ffffff;
}
.aIndex {
  text-decoration: none;
  color: #ffffff;
  text-shadow: 0px 0px 15px #000;
  transition: background-color .5s;
}
.aIndex:hover {
  padding: 5px;
  color: #ffffff;
  font-weight: bold;
  background-color: #bd00ff;
}
.Board{
  text-align: center;
}
.Board h1{
  margin-top: 0;
  letter-spacing: -1px;
  color: #ffffff;
  font-weight:bold;
  text-shadow: 0px 0px 20px #00b8ff;
}
#BoardButton{
  border: 2px inset #00b8ff;
  font-family: 'VT323', monospace;
}
.BoardPosts h2{
  text-shadow: 3px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000;
}
#cardPost{
  font-family: sans-serif;
  background-color: #030002e4;
  border-radius: 1.5vmin;
  padding: 1%;
  border: 2px inset #00b8ff;
  box-shadow: 0px 5px 8px #00b8ff;
  
}
#FondoTransparente{
  background-color: transparent;
}
.post{
  background-color: rgba(0, 0, 0, 0.750);
  border: 2px inset #00b8ff;
  padding: 2%;
}
.PrivacyTitle{
  font-size:72px;
  -webkit-animation:rainbow 3s linear infinite;
}
@-webkit-keyframes rainbow {
  from {
    text-shadow:
      0.04em 0.04em #ff0000,
      0.08em 0.08em #ff7f00,
      0.12em 0.12em #ffff00,
      0.16em 0.16em #00ff00,
      0.20em 0.20em #0000ff,
      0.24em 0.24em #4b0082,
      0.28em 0.28em #8f00ff;
  }
  15% {
    text-shadow:
      0.04em 0.04em #8f00ff,
      0.08em 0.08em #ff0000,
      0.12em 0.12em #ff7f00,
      0.16em 0.16em #ffff00,
      0.20em 0.20em #00ff00,
      0.24em 0.24em #0000ff,
      0.28em 0.28em #4b0082;
  }
  30% {
    text-shadow:
      0.04em 0.04em #4b0082,
      0.08em 0.08em #8f00ff,
      0.12em 0.12em #ff0000,
      0.16em 0.16em #ff7f00,
      0.20em 0.20em #ffff00,
      0.24em 0.24em #00ff00,
      0.28em 0.28em #0000ff;
  }
  45% {
    text-shadow:
      0.04em 0.04em #0000ff,
      0.08em 0.08em #4b0082,
      0.12em 0.12em #8f00ff,
      0.16em 0.16em #ff0000,
      0.20em 0.20em #ff7f00,
      0.24em 0.24em #ffff00,
      0.28em 0.28em #00ff00;
  }
  60% {
    text-shadow:
      0.04em 0.04em #00ff00,
      0.08em 0.08em #0000ff,
      0.12em 0.12em #4b0082,
      0.16em 0.16em #8f00ff,
      0.20em 0.20em #ff0000,
      0.24em 0.24em #ff7f00,
      0.28em 0.28em #ffff00;
  }
  75% {
    text-shadow:
      0.04em 0.04em #ffff00,
      0.08em 0.08em #00ff00,
      0.12em 0.12em #0000ff,
      0.16em 0.16em #4b0082,
      0.20em 0.20em #8f00ff,
      0.24em 0.24em #ff0000,
      0.28em 0.28em #ff7f00;
  }
  90% {
    text-shadow:
      0.04em 0.04em #ff7f00,
      0.08em 0.08em #ffff00,
      0.12em 0.12em #00ff00,
      0.16em 0.16em #0000ff,
      0.20em 0.20em #4b0082,
      0.24em 0.24em #8f00ff,
      0.28em 0.28em #ff0000;
  }
  to {
    text-shadow:
      0.04em 0.04em #ff0000,
      0.08em 0.08em #ff7f00,
      0.12em 0.12em #ffff00,
      0.16em 0.16em #00ff00,
      0.20em 0.20em #0000ff,
      0.24em 0.24em #4b0082,
      0.28em 0.28em #8f00ff;
  }
}